.nav {
    height: 100%;
    display: flex;
    background-color: $white;
    width: 72%;

    ul {
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin-left: 1%;
        &:first-child {
            width:100%;
           
            //margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
    }




    &.nav--main {}
}

@media (max-width: $small) {
    .nav{
        display: none;
    }
}